#app-header-text {
    padding: 12px;
}

#app-header-text h1 {
    font-size: 2.5em;
}

.ui.label {
    user-select: none;
    margin-bottom: 2px;
    font-size: 1em;
}

#sorted-features {
    padding: 6px;
}

#sentence-samples-div li {
    color: rgb(90,90, 90);
    font-style: italic;
}

#sentence-samples-div ul span.feature-tag-highlighted {
    padding: 0 6px;
    display: inline-block;
    color: black;
}

#sentence-samples-div ul span.feature-tag-highlighted:hover {
    transform: scale(1.2);
}

#feature-in-context-explaination-div .segment {
    padding: 0 auto;
}

#feature-in-context-explaination-div .ui.header {
    text-align: center;
    font-size: 1.8em;
}

#feature-in-context-explaination-div p,ul {
    font-size: 1.2em;
}

#sorted-features .ui.label:hover {
    transform: scale(1.2);
}

.ui.label.unseen {
    opacity: 0.3;
}

.ui.label.unseen:hover {
    transform: scale(1.2);
}