#app-header-text {
    padding: 12px;
}

#app-header-text h1 {
    font-size: 2.5em;
}

.ui.label {
    user-select: none;
    margin-bottom: 2px;
    font-size: 1em;
}

#sorted-features {
    padding: 6px;
}

#feature-in-context-explaination-div {
    text-align: center;
}

#feature-in-context-explaination-div .segment {
    margin: 0 auto;
}

#feature-in-context-explaination-div h4 {
    font-size: 1.8em;
}

#feature-in-context-explaination-div p,ul {
    font-size: 1.2em;
}

#sorted-features .ui.label:hover {
    transform: scale(1.2);
}

.ui.label.unseen {
    opacity: 0.3;
}

.ui.label.unseen:hover {
    transform: scale(1.2);
}